*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
}

#main{
    height:50%;
    width:50%;
   margin-left: 50%;
   display: flex;
   align-items: center;
   justify-self: center;
}

#box1{
    
    width:50%;
    padding: 20px;
 
    margin: 5px;
}
#box2 input{
 
    margin: 10px;
    padding: 5px;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
   margin: 2px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#box3{
    width:50%;
    display: flex;
    align-items: center;
    justify-self: center;
    
}
#box3 input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    padding: 7px;
    border: 2px solid black;
   border-radius: 6px;

}
input{
    width: 50%;
}