*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
#cursor{
    height:20px;
    width:20px;
    background-color: rgb(35, 19, 208);
}